body {
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 600px;
  background: #ff0000;
  padding: 40px;
  color: #fff;
  text-align: center;
  margin: 35px auto;
  display: block;
  box-shadow: 3px 3px 15px #ccc;
}
.container h1 {
  font-size: 7em;
  font-weight: background-color;
}
.container p {
  font-size: 2em;
  margin-top: 25px;
  line-height: normal;
}